body {
      color: #40514E;
      text-align: center;
      font-family: 'ZCOOL XiaoWei', serif;
}

h1   {
      color: #66bfbf;
      font-size: 5.625rem;
      margin-top: 50px;
      font-family: 'Sofia', cursive
}

hr{
  border: dotted #EAF6F6 6px;
  border-bottom: none;
  width: 4%;
  margin: 100px auto;
}

h2   {
  line-height: 2;
  color: #66bfbf;
  font-family: 'Berkshire Swash', cursive;
  font-size: 2.5rem;
  padding-bottom: 10px;
}

h3   {
  color: #11999E;
  font-family: 'Berkshire Swash', cursive;
}

p{
  line-height: 2;
}

a{
  color: #11999E;
  font-family: 'ZCOOL XiaoWei', serif;
  margin: 10px 20px;
  text-decoration: none;
  font-size: 1.2rem;
  font-weight: 900;
}

a:hover {
  color: #EAF6F6;
}

.subtitle {
   font-weight: normal;
}

.contact-message {
  width: 41%;
  margin: 40px auto 60px  ;
}

.cprog {
  width:25%;
  float: left;
  margin-right: 30px;
}

.pythprog {
  width: 25%;
  float: right;
  margin-left: 30px;
}

.skill-row{
  width: 50%;
  margin: 50px auto 50px auto;
  text-align: left;
}

.profile{
  width: 50%;
  margin: auto;
}


.top-cloud {
            position: absolute;
            top: 40px;
            right: 300px;
}

.bottom-cloud {
                position: absolute;
                bottom: 300px;
                left: 250px;
}
.top_container {
                 background-color: #e3fdfd;
                 position: relative;
                 padding-top: 100px;
}

.middle-container {
    /*margin: 100px 0;*/
    background-color: #aee6e6;
    padding-top: 100px;
    padding-bottom: 50px;

}

.bottom-container {
  background-color: #66BFBF;
  position: relative;
  padding: 30px 5px 10px;
}



.copyright {
  color: #EAF6F6;
  font-size: 0.75rem;
  padding: 20px 0;
}

.BUTTON_CDX {
   background: #3D94F6;
   background-image: -webkit-linear-gradient(top, #3D94F6, #63B198);
   background-image: -moz-linear-gradient(top, #3D94F6, #63B198);
   background-image: -ms-linear-gradient(top, #3D94F6, #63B198);
   background-image: -o-linear-gradient(top, #3D94F6, #63B198);
   background-image: -webkit-gradient(to bottom, #3D94F6, #63B198);
   -webkit-border-radius: 10px;
   -moz-border-radius: 10px;
   border-radius: 5px;
   color: #FFFFFF;
   font-family: serif;
   font-size: 25px;
   font-weight: normal;
   padding: 10px;
   -webkit-box-shadow: 1px 1px 10px 0 #000000;
   -moz-box-shadow: 1px 1px 10px 0 #000000;
   box-shadow: 1px 1px 10px 0 #000000;
   text-shadow: 1px 1px 10px #000000;
   border: solid #337FED 0.5px;
   text-decoration: none;
   display: inline-block;
   cursor: pointer;
   text-align: center;
}

.BUTTON_CDX:hover {
   border: solid #052DFF 1px;
   background: #1E62D0;
   background-image: -webkit-linear-gradient(top, #1E62D0, #00A3FF);
   background-image: -moz-linear-gradient(top, #1E62D0, #00A3FF);
   background-image: -ms-linear-gradient(top, #1E62D0, #00A3FF);
   background-image: -o-linear-gradient(top, #1E62D0, #00A3FF);
   background-image: -webkit-gradient(to bottom, #1E62D0, #00A3FF);
   -webkit-border-radius: 20px;
   -moz-border-radius: 20px;
   border-radius: 20px;
   text-decoration: none;
}
